.first-entry {
  justify-content: flex-start;
  min-height: 10px;
}
.post-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: calc(var(--gap) / 2);
  padding: calc(var(--gap) / 2);
}
/* 导入字体 */
@font-face {
    font-family: LXGWWenKai; /* 字体名称 */
    src: url('/fonts/lxgwwenkai-bold.woff') format('woff'); /* 字体文件路径 */
    /* 添加其他字体格式，如woff2 */
}

body,code {
    /* 原版 */
    font-family: "LXGW WenKai", sans-serif;
    /* 屏幕优化版 */
    font-family: "LXGW WenKai Screen", sans-serif;
}

[class^="language-"] {
    /* 原版 */
    font-family: "LXGW WenKai", sans-serif;
    /* 屏幕优化版 */
    font-family: "LXGW WenKai Screen", sans-serif;
}

/* 中等屏幕 */
@media (min-width: 1200px) and (max-width: 2000px) {
:root {
    --gap: 20px; /* 修改为更大的间距 */
    --main-width: 100%
  }

  .main {
     margin-left: var(--gap);
     margin-right: var(--gap);
  }
}

/* 大屏幕 */
@media (min-width: 2000px) {
:root {
    --main-width: 70%
  }
}
